@import "../style/_variables.scss";

.main-layout {
  display: flex;
  min-height: 100vh;
  .main-layout__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $color-text;
    position: relative;
    .main-layout__footer {
      margin-top: auto;
      padding: 1rem 0;
      background: $color-sidebar-bg;
      color: $color-text;
      text-align: center;
      font-size: 1rem;
      letter-spacing: 0.5px;
      box-shadow: 0 -2px 8px rgba(0,0,0,0.03);
    }
  }
}


